@import '../../../../styles/variable';
@import '../../../../styles/mixin';

.feedItem {
  // bottom-up 방식이 아닌 것 같다
  width: 630px;

  article {
    border: 1.5px solid $bdColor;
    background-color: #fff;

    .postHeader {
      @include flex(_, space-between, center, _);
      padding: 10px;

      .posterInfoWrapper {
        @include flex(_, _, center, 13px);

        img {
          width: 32px;
          height: 32px;
          border: 1px solid $bdColor;
          border-radius: 50%;
        }

        h2 {
          font-weight: 700;
        }

        .createdAt {
          @include flex(_, _, center, 3px);
          width: 50px;
          color: $textColor;

          span {
            background-color: $textColor;
          }
        }
      }

      .moreOptionsWrapper {
        // 영역 내부에 포함된 span 자식들(점)을 세로 중앙 정렬시키는 코드
        @include flex(_, _, center, _);
        cursor: pointer;

        span {
          display: inline-block;
          width: 3px;
          height: 3px;
          border: 1px solid #000;
          border-radius: 50%;
          background-color: #000;

          &:nth-of-type(2) {
            margin-left: 3px;
          }

          &:nth-of-type(3) {
            margin-left: 3px;
          }

          /* 
        //  & + &  안되는 이유 찾기!
        & + & {
          margin-left: 33px;
        }
        */
        }
      }
    }

    .postedImg {
      // width: 100%;
      // 이미 div태그임,,,? -> 불필요한 속성 제거 리팩토링

      img {
        width: 100%;
        -webkit-user-drag: none;
      }
    }

    .postContentContainer {
      padding: 8px;

      .interactionIconsWrapper {
        @include flex(_, space-between, center, _);

        .leftIcons {
          i {
            cursor: pointer;

            // 이거 왜 안되는지 알아보기!!
            // & + & {
            //   margin-left: 5px;
            // }
          }

          i + i {
            margin-left: 5px;
          }
        }
      }

      .likedUsers {
        @include flex(_, _, center, 3px);
        margin: 8px 0;

        img {
          width: 15px;
          height: 15px;
          border: 1px solid $bdColor;
          border-radius: 50%;
        }

        .bold {
          font-weight: 700;
        }
      }

      .postContent {
        .postContentWrapper {
          @include flex(_, _, _, 5px);
          margin-bottom: 7px;

          .posterName {
            font-weight: 700;
          }
        }

        .moreContent {
          margin-top: 2px;
          color: $textColor;
          cursor: pointer;
        }
      }
    }

    .commentsList {
      border-top: 1px solid $bdColor;

      #uploadedCommentsBox {
        padding: 8px;

        .more {
          margin-bottom: 5px;
          color: $textColor;
          cursor: pointer;
        }
      }

      form {
        @include flex(_, space-between, center, _);
        width: 100%;

        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
        }

        button {
          width: 7%;
          border: none;
          background-color: #fff;
          color: $ctaColor;
          font-weight: 900;
          cursor: pointer;
        }
      }
    }
  }
}
